extends layout 
block content 
    setion 
        h1 creation de frais
       
        form(action="/createfrais" enctype="multipart/form-data" method="POST")
            label (for="nom")nom
            input(type="nom" name="nom" required)

            label (for="description")description 
            textarea(name = "description", required )
            
            label (for="montant")montant
            textarea(name = "montant", required )

            input(type="submit" value="submit")
             